<h1 mat-dialog-title style="text-align: center;">
  <i class="fas fa-chevron-left"></i>
  من فضلك ادخل {{ data.passwordType }}
</h1>

<div mat-dialog-content>
  <mat-form-field style="width: 100%;">
    <mat-label>ادخل {{ data.passwordType }}</mat-label>
    <input
      matInput
      required
      [(ngModel)]="password"
      type="password"
      cdkFocusInitial
    />
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onClickCancel()">رجوع</button>
  <button mat-button [mat-dialog-close]="password" ariaLabel="موافق">
    تم
  </button>
</div>
