<div
  [egDropZone]="disabled"
  (hovered)="onHovering($event)"
  (filesDropped)="addFile($event)"
  [class.hover]="isHovering"
  [class.disabled]="disabled"
  class="drop-zone cloud-img"
>
  <input
    type="file"
    #fileDropRef
    multiple
    [disabled]="disabled"
    [required]="required"
    [id]="formControlName"
    [name]="formControlName"
    (change)="addFile($event.target.files)"
  />
  <h3>
    Upload files by clicking here, or drag & drop
  </h3>
  <h3>files from your computer.</h3>
  <label class="btn" [for]="formControlName">
    <i class="fas fa-cloud-upload-alt"></i> Or Choose for file
  </label>
</div>
