
/* navbar */
nav{
  width: 100%;
  height: 100%;
  background-color: transparent;
  padding: 20px 0;
  display: flex;
}
nav .container{
  width: 100%;
  max-width: 950px;
  margin: 0 auto;
  display: flex;
}
nav .logo{
  width:50% ;
  padding: 20px;
  font-size: 30px;
  font-family: serif;
  font-weight: 500;
}
nav .nav-items{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
nav .nav-items a{
  text-decoration: none;
  color: rgb(92, 92, 97);
  font-size: 20px;
  padding: 20px;
}
nav .nav-items  .special{
  color: #000;
  border: 2px solid #000;
}
/* header */
header{
  width: 100%;
  height: 500px;
  display: flex;
  background-color: hsl(256, 26%, 20%);
  color: #ffffff;
  position: relative;
}
header .left{
  width: 50%;
}
header span {
  margin-top: 14px;
  width: 200px;
  height: 2px;
  color: #ffffff;
  position: absolute;
  top: 40px;
  left: 50px;
  background: #fff;
  margin-left: 108px;
}
header h2{
  margin: 90px 66px 0 157px;
  font-size: 70px;
  font-family: serif;
}
header p{
  margin-left: 157px;
  margin-right: 66px;
  font-family: serif;
}
header .btn{
  /* width: 30px; */
  color: #ffffff;
  padding: 10px 35px;
  margin-top: 20px;
  margin-left: 157px;
  background-color: transparent;
  border:2px solid #ffffff;
  cursor: pointer;
  outline: none;
  font-family: serif;
}
header .btn:hover{
  background-color: #c0baba;
}
header .right{
  width: 50%;
  margin-top: 125px;
}
/* space */
.space{
  width: 100%;
  height: 300px;
}
/* intro */
.container{
  width: 100%;
  max-width: 950px;
  margin: 0 auto;
}
.head{
  padding: 0 0 30px 0;
  font-size: 40px;
  color: rgb(26, 21, 19);
  /* float: right; */
}
.intro{
  display: flex;
  text-align: right;

}
.intro .info{
  flex-direction: row;
  width: 33.3%;
  float:right;
}
.head{
  text-align: right;
}
.intro .info:not(:first-child){
  margin-left: 84px;
}
.intro h3{
  padding: 20px 0 20px 0;
  float:right;
}
.intro p{
  color: hsl(0, 6%, 43%);
  float:right;
}
/* space-s */
.space-2{
  width: 100%;
  height: 200px;
}
/* about */
.about{
  display: flex;
  width: 100%;
  padding: 35px;
  background: hsl(256, 26%, 20%);
  color:#fff;
}
.about .written{
  width:50%;
}
.about p{
  font-size: 50px;
  font-family: serif;
}
.about .pull{
  width: 50%;
  padding: 30px;
}
.about .pull button{
  width: 170px;
  padding: 10px 35px;
  background-color: transparent;
  color: #fff;
  border:2px solid #ffffff;
  cursor: pointer;
  outline: none;
  float: right;
  font-family: serif;
}
/* details */
.details{
  width: 100%;
  display: flex;
  margin-bottom: 60px;
}
.details .right{
  width: 50%;
  padding: 20px;
  text-align: center;
}
.details .right h3{
  font-size: 30px;
  padding-bottom: 20px;
}
.details .right p{
  font-size: 20px;
}
.details .left{
  width: 50%;
  text-align: center;
}
.details .left img{
  width: 50%;
}
// why
.why-description{
  padding: 10px;
    text-align: center;
    margin-bottom: 40px;
}

/* Start Footer */
footer{
  padding: 7.9rem 0;
  background-color: #121212;
  color: #ffffff;
  text-align: center;
  position: relative;
}
.back-to-top{
  width: 7rem;
  height: 7rem;
  background-color: #121212;
  position: absolute;
  top: -3rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
}
.back-to-top i{
  display: block;
  color: #ffffff;
  font-size: 2rem;
  padding: 2rem;
}
.footer-content h4{
  font-size: 1.9rem;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 3px;
  margin-bottom: 3rem;
}
.social-icons{
  list-style: none;
  margin-bottom: 5.4rem;
  display: flex;
  justify-content: center;
}
.social-icons i{
  font-size: 2rem;
  color: #ffffff;
  padding: .8rem 2rem;
  opacity: .5;
  transition: color .5s;
}
.social-icons i:hover,
.social-icons i:focus{
  color: var(--secondary-font-color);
}
.newsletter-form{
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}
.newsletter-input{
  width: 100%;
  max-width: 25rem;
  padding: 1rem;
  border-radius: .4rem;
}
.newsletter-btn{
  background-color: transparent;
  border: none;
  color: var(--main-font-color-dark);
  cursor: pointer;
  font-size: 1.6rem;
  padding: 1px .6rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 10.5rem;
}
.copyright{
  color: #fff;
  padding: 20px;
  font-size: 20px;
}
/* End Footer */
