<!-- Header -->
<header>
<div class="container">
    <div class="nav">
        <a href="#" class="logo">EgID</a>
        <ul class="nav-list">
            <li class="nav-item">
                <a href="#" class="nav-link active" >التعليم</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">الاحوال المدنيه</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">الصحه</a>
            </li>
        </ul>
    </div>
</div>
</header>
<!-- Header Ends -->

<!-- Mean Section -->
<section class="hero">
<div class="container">
    <h1 class="headLine">
        new vision of technology in egypt
    </h1>
    <div class="headLine-description">
        <h5>مصر تتقدم نحو مستقبل افضل </h5>
    </div>
</div>
</section>
<!-- Mean Section Ends -->

<!-- services -->
<div class="content">
    <h1>الخدمات</h1>
    <div class="content-cards">
        <div class="content-card">
            <h3>   التعليم </h3>
            <p>
                تم توفير العديد من الوسائل لخدمات الطلاب  سواء من المرحله الثانويه او دخول الجامعه او استخراج
                شهادات ....
            </p>
        </div>
        <div class="content-card">
            <h3>   الاحوال المدنيه </h3>
            <p>لقد تم تأسيس قاعده الكترونيه لتسهيل الخدمات وسرعه الاداء تجنبا لمشاكل الاوراق والوقت الضائع ويمكنك انجاز كل اورقاك الكترونيا
                 دون مجهود .
            </p>
        </div>
        <div class="content-card">
            <h3>   الصحه </h3>
            <p>نعمل على بناء قاعده صحيه توفر للمواطنين العديد من الخدمات مثل تأسيس سجل مرضى يشمل حاله المواطن
                الصحيه منذ ميلاده وجميع الخدمات المتاحه له.
            </p>
        </div>
    </div>
</div>
<!-- services ends -->

<!-- about -->
<div class="about">
    <h2>Find out more about how we work</h2>
    <button>How we work</button>
  </div>

<!-- details -->
<div class="details">
    <div class="left"></div>
    <div class="right">
        <h3>الفكرة</h3>
        <p>
          كلنا عارفين فائدة التكنولوجيا والوقت المجهود اللي بتوفره فهدفنا هو تغير البطاقة لبطاقة الكترونية بإضافة شريحة الكترونية
          للبطاقة .. . تصميم قاعدة بيانات للمواطن وإعطاء الصلاحيات المناسبة لكل مؤسسة ... بعد كدا بدوسة زر وفي ثواني نقدر
          نخلص الورق اللي بيخلص في أيام ومن الختم في الدور الرابع للإمضاء في الدور الأرضي كل ملفات المواطن ستكون على
          البطاقة والمؤسسة الحكومية مجرد ما تق را الكود من خلال الكمبيوتر في الفورم المناسب كل البيانات ستملأ اتوماتيك من
          البطاقة</p>
    </div>
</div>
