<!-- navbar -->
<nav>
  <div class="container">
      <div class="logo">EgID</div>
      <div class="nav-items">
          <a href="#" >الصحه</a>
          <a href="#">الاحوال المدنيه</a>
          <a href="#" class="special">التعليم</a>
      </div>
  </div>
</nav>
<!-- header -->
<header>
  <div class="left">
      <span></span>
      <h2>Egypt In New Edition.</h2>
      <p>Get your life insurance coverage easier and faster. We blend our expertise and technology to help you find the plan that’s right for you. Ensure you and your loved ones are protected.</p>
      <button class="btn">View Plans</button>
  </div>
  <div class="right">
      <img src="../../../assets/1807658-1-600x470.jpg">
  </div>
</header>
<!-- space -->
<div class="space"></div>
<!-- intro -->
<div class="container">
<h1 class="head">الخدمات</h1>
<div class="intro">
  <div class="info">
  <h3>التعليم </h3>
  <p> تم توفير العديد من الوسائل لخدمات الطلاب  سواء من المرحله الثانويه او دخول الجامعه او استخراج
      شهادات ....</p>
  </div>
  <div class="info">
  <h3> الاحوال المدنيه</h3>
  <p> لقد تم تأسيس قاعده الكترونيه لتسهيل الخدمات وسرعه الاداء تجنبا لمشاكل الاوراق والوقت الضائع ويمكنك انجاز كل اورقاك الكترونيا
      دون مجهود . </p>
  </div>
  <div class="info last">
  <h3> الصحه </h3>
  <p>نعمل على بناء قاعده صحيه توفر للمواطنين العديد من الخدمات مثل تأسيس سجل مرضى يشمل حاله المواطن
      الصحيه منذ ميلاده وجميع الخدمات المتاحه له. </p>
  </div>
</div>
</div>
<div class="space-2"></div>
<!-- our work -->
<div class="container">
<div class="about">
  <div class="written">
  <p>Find out more about how we work</p>
  </div>
  <div class="pull">
  <button >How we work</button>
  </div>

</div>
</div>
<div class="space-2"></div>
<!-- details -->
<div class="container">
<div class="details">
  <div class="left">
      <img src="#" alt="">
  </div>
  <div class="right">
      <h3>الرؤيه</h3>
      <p>
      كلنا عارفين فائدة التكنولوجيا والوقت المجهود اللي بتوفره فهدفنا هو تغير البطاقة لبطاقة الكترونية بإضافة شريحة الكترونية
      للبطاقة, تصميم قاعدة بيانات للمواطن وإعطاء الصلاحيات المناسبة لكل مؤسسة ... بعد كدا بدوسة زر وفي ثواني نقدر
      نخلص الورق اللي بيخلص في أيام ومن الختم في الدور الرابع للإمضاء في الدور الأرضي كل ملفات المواطن ستكون على
      البطاقة والمؤسسة الحكومية مجرد ما تقرا الكود من خلال الكمبيوتر في الفورم المناسب كل البيانات ستملأ اتوماتيك من
      البطاقة
      </p>
  </div>
</div>
<div class="details">
  <div class="left">
      <h3>ما؟</h3>
      <ol>
          <li> تصميم قاعده بيانات للمواطن تشمل بياناته الشخصية التي نحتاجها في التعاملات الحكومية )شهادة الميلاد، شهادة
              الثانوية، شهاد ة التخرج...الخ(.
          </li>
          <li>
              اختيار الخيا ر الأفضل لتنفيذ قاعدة البيانات وتصميم النموذج الذي سيعطي أفضل أداء .
          </li>
          <li>
              العمل عل ى تقديم ضمانات لحماية وتامين البيانات وتشفيرها ومنع أي وصول غير مسموح بيه اليها .
          </li>
          <li>
              العمل عل ى تصميم نم وذج جديد للرقم القومي الذي سوف يتم تخزينه في الشريحة يضمن ان يكون وحي د لكل مواطن رقم
              خاص به ولا يمكن تكرار هذا الرقم ويضمن استحالة تخمين هذا الرقم باستخدام الكمبيوت ر لضمان الأمان وحماية بيانات
              المواطن.
          </li>
          <li>
              تصميم مجموعة من القواعد للوصول للبيانا ت. بحيث ان كل جهة او مؤسسة لها مجموعة من الصلاحيات التي تمكنها
              من الوصول للبيانات التي تحتاجها ولا يمكنها الوصول لاي بيانات اخري.
          </li>
          <li>
               تصميم واجهات بنماذج التقديم
               forms وتصميم لوحات تحكم لكل مؤسسة ولوحة تحكم للإدارة .
          </li>
          <li>
              تصميم التطبيق بحيث ان يكون قابل للتوسع بحيث يمكن إضافة خدمات اخري فيما بعد كالسجل المرضي .
          </li>
          <li>
              . إضافة نظام اشعارات الموطن كلما تم استخدام بياناته داخل النظام لضمان امان البيانات .
          </li>
      </ol>
  </div>
  <div class="right">
      <h3> لماذا؟</h3>
      <p>
      الجواب الأهم هوا الوقت! عشان اغلي سلعة يملكه ا الإنسان وبتملكها الدول هي الوقت ولا يوجد أحد يمكنه شراء المزيد منه.
      فهي سلعة محدودة ومنتهية لذا وجب استثمارها الاستثمار الامثل بعيدا عن الأعمال الروتينية. من الوقت ا لذي يضيع لاستخراج
      الورق والمستندات الحكومية للوقت الذي يضيع وانت بتمر على الموظفين لإمضاء في الدور الرابع لختم في الدور الثاني
      خلاف وقت السفر عشان تخلص ورقة من هنا وورقة من هناك! ومن ثم ضاع اليوم !
      الجواب الآخر هو الما ل والموا رد.. نتخيل حجم الورق المستندات الحكومية اللي بيتم استخدمها كل سنه اعتقد ممكن نتخيل
      حجمها أكبر من حجم اهرامات الجيزة! وآلاف أو مئات الآلاف من الموظفين اللي شغالين على هذا العمل الروتيني من كتابة
      وتدقيق وبحث عن صحة المعلومات وتخزين ونقل وأرشفة ونتخيل حجم الموارد البشرية والمادية اللي بتضيع في هذه
      الأعمال. وليه لما ممكن نتخيل دا كله بيتم بضغطة زر كل اوراقك ومستنداك في جيبك كل اوراقك ومستنداتك في البطاقة! مع
      مقدرة وسرعة الكمبيوتر الجبارة في التخزين والأرشفة وايضا التحليل وتقديم صورة واقعية من الاحصائيات التي تعكس
      صورة المجتمع ويمكن استخدامها في التنبأ والتخطي ط للمستقبل. غير امكانية استثمار هذا النظام فيما بعد لا ضافة سجل
      مرضي ونظام تصويت في الانتخابات وممكن نحلم بأكثر من هذا مما يجعل الحياة أسهل ويستثمر الوقت صح ويوفر الموارد
      التي تضيع .
      </p>
  </div>
</div>
<div class="details">
  <div class="left">
      <h3>   كيف؟     </h3>
      <p>
          1 . بناء قاعدة البيانات ودراسة المعماريات المتاحة واختيار أفضل معمارية التي سوف تعطي أفضل أداء وتتقبل كميات
          كبيرة من البيانات لذا سوف نفاضل بين Microsoft SQL Server or Oracle Database من حيث تحمل اعداد
          هائلة من البيانات والسرعة ثم سوف نحتار أفضلهم .
          2 . تصميم نموذج قاعدة البيانات والعلاقات بين الجداول .
          3 . تصميم نموذج للرقم القومي الجديد والذي سوف يخزن في البطاقة بحيث يضمن استحالة تخمينه كنموذج اولي نفكر في
          استخدام رقم مكون من 128 رقم وحرف يتم توليدهم باستخدام وقت وتاريخ ادخال البيانات وتاريخ ميلاد المواطن وبعد
          الأرقام الحروف العشوائية المولدة بطريقة تمنع التطابق واقترحنا رقم بحجم 128 لان نسبة تكراره ضعيفة جدا تصل
          للصفر ومع تصميم خوارزمية جيدة لتوليد الرقم سوف تصل للصفر وأيضا هذا الحجم سوف يجعل إمكانية تخمينه
          بواسطة الكمبيوت ر مستحيلة والذي سوف يضمن حماية البيانات .
          4 . تصميم مجموعة من القواعد للوصول للبيانات. بحيث ان كل جهة او مؤسسة لها مجموعة من الصلاحيات التي تمكنها
          من الوصول للبيانات التي تحتاجها ولا يمكنها الوصول لاي بيانات اخري عن طريق تصميم نظام هوية ونظا م صلاحيات
          Authorization and Authentication لكل مؤسسة.
          5 . تصميم واجهات بالنماذج التقديم forms وتصميم لوحات تحكم لكل مؤسسة ولوحة تحكم للإدارة .
          6 . تصميم API بحيث يضمن ان يكون التطبيق قابل للتوسع ودعم أجهزة مختلفة او أجهزة خاصة .
          7 . تصميم نظام اشعارات يضمن امان المعلومات وعدم التطفل من قبل اي شخص أو مؤسسة عل ى هذه البيانات عن طريق
          إرسال اشعار عن طريق الايميل او رسائل SMS عن كل وصول للبيانات .</p>
  </div>
  <div class="right">
      <h3>من؟</h3>
      <p>
           المستفيد سيكون كل المواطنين عشان نقد ر نوف ر وقت كبي ر الذي يضيع في الاوراق الحكومية وك ذلك للموظفين ب الإضافة ال ى
          خدمات كتي ر يقد ر المواطن ينفذها اونلاين بدون استنذاف اى وقت ومجهود بالإضافة إلى العائد المعنوي .
          بالإضافة إلي الدولة من توفير لملايين الاوراق وتكاليف النقل والتخزين والارشفه وإمكانية التحليل والتنبأ والتخطيط .
      </p>
  </div>
</div>
</div>
<!-- Footer -->
<footer>
<div class="container">
  <div class="footer-content">
      <div class="footer-content animate-bottom">
          <div class="social-media">
              <h4>Follow Along</h4>
              <ul class="social-icons">
                  <li>
                      <a href="#"><i class="fab fa-twitter"></i></a>
                  </li>
                  <li>
                      <a href="#"><i class="fab fa-facebook-square"></i></a>
                  </li>
                  <li>
                      <a href="#"><i class="fab fa-pinterest"></i></a>
                  </li>
                  <li>
                      <a href="#"><i class="fab fa-linkedin-in"></i></a>
                  </li>
                  <li>
                      <a href="#"><i class="fab fa-tripadvisor"></i></a>
                  </li>
              </ul>
          </div>
          <div class="newsletter-container">
              <h4>For Queries</h4>
              <form action="" class="newsletter-form">
                  <input type="text" class="newsletter-input" placeholder="Your Email Address">
                  <button class="newsletter-btn" type="submit">
                      <i class="fas fa-envelope"></i>
                  </button>
              </form>
          </div>
          <div class="copyright">
              .CS_Army/Team &copy;2020
          </div>
      </div>
  </div>
</div>
</footer>
<!-- Footer Ends -->
