<div class="container">
  <mat-card>
    <form class="pin1-form">
      <mat-card-header>
        <h4>تغير رمز PIN1</h4>
      </mat-card-header>
      <mat-form-field class="field">
        <mat-label>رمز PIN1 الحالي</mat-label>
        <input matInput type="password" />
      </mat-form-field>

      <mat-form-field class="field">
        <mat-label>رمز PIN1 الجديد</mat-label>
        <input matInput type="password" />
      </mat-form-field>

      <mat-form-field class="field">
        <mat-label>كرر رمز PIN1 الجديد</mat-label>
        <input matInput type="password" />
      </mat-form-field>

      <div class="btn-div">
        <button color="primary" mat-raised-button>تغير</button>
      </div>
    </form>
  </mat-card>

  <mat-card>
    <form class="pin2-form">
      <mat-card-header>
        <h4>تغير رمز PIN2</h4>
      </mat-card-header>

      <mat-form-field class="field">
        <mat-label>رمز PIN2 الحالي</mat-label>
        <input matInput type="password" />
      </mat-form-field>

      <mat-form-field class="field">
        <mat-label>رمز PIN2 الجديد</mat-label>
        <input matInput type="password" />
      </mat-form-field>

      <mat-form-field class="field">
        <mat-label>كرر رمز PIN2 الجديد</mat-label>
        <input matInput type="password" />
      </mat-form-field>

      <div class="btn-div">
        <button color="primary" mat-raised-button>تغير</button>
      </div>
    </form>
  </mat-card>

  <mat-card>
    <form class="puk-form">
      <mat-card-header>
        <h4>تغير رمز PUK</h4>
      </mat-card-header>

      <mat-form-field class="field">
        <mat-label>رمز PUK الحالي</mat-label>
        <input matInput type="password" />
      </mat-form-field>

      <mat-form-field class="field">
        <mat-label>رمز PUK الجديد</mat-label>
        <input matInput type="password" />
      </mat-form-field>

      <mat-form-field class="field">
        <mat-label>كرر رمز PUK الجديد</mat-label>
        <input matInput type="password" />
      </mat-form-field>

      <div class="btn-div">
        <button color="primary" mat-raised-button>تغير</button>
      </div>
    </form>
  </mat-card>
</div>
