@import "~src/styles/var";

.x-file {
  padding: 10px;
  text-align: center;
  border: 5px dashed #e6e6e6;
  border-radius: 5px;
  position: relative;
  text-align: right;

  .btn {
    font-family: "Nunito", "Cairo", "sans-serif";
    color: white;
    padding: 8px 25px;
    border: 2px solid #ddd;
    border-radius: 6px;
    box-shadow: 00px 1px 3px 0px rgba(26, 129, 213, 0.7);
    background: rgb(26, 130, 213);
    background: linear-gradient(
      40deg,
      rgba(26, 130, 213, 1) 8%,
      rgba(0, 155, 255, 1) 59%,
      rgba(0, 212, 255, 1) 85%
    );
  }

  input {
    opacity: 0;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    &:hover {
      cursor: pointer;
    }
  }
}
