.header {
  background: linear-gradient(
    40deg,
    rgba(26, 130, 213, 1) 8%,
    rgba(0, 155, 255, 1) 59%,
    rgba(0, 212, 255, 1) 85%
  );
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  height: 64px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  font-weight: 600;
}

.container {
  position: absolute;
  top: 63px;
  bottom: 0px;
  left: 0;
  right: 0;
}

@media (max-width: 599px) {
  .header {
    height: 58px;
  }
  .container {
    top: 57px;
  }
}

.icon {
  font-size: 1.2rem;
}

.spacer {
  flex: 1;
}

.sidenav {
  width: 200px;
}

.sidenav-icon {
  vertical-align: middle;
  margin-left: 12px;
  height: 16px;
  width: 16px;
}

.citizen-img {
  margin: 10px 0 10px 10px;
  width: 40px;
  height: 40px;
  object-fit: cover;
  align-items: center;
  align-self: center;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0px 0px 5px -1px rgb(84, 84, 84);
}

.footer {
  color: rgba(48, 48, 49, 0.789);
  font-size: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
