@import "~src/styles/_var";

:host zxing-scanner::ng-deep {
  object-fit: contain;
}

.box {
  position: relative;
  width: 100%;
}

.mat-card-actions {
  display: flex;
  flex: auto auto 4 4;
  align-items: center;
  justify-content: center;

  mat-form-field {
    flex: 4;
  }

  button {
    margin-left: 8px;
  }
}

.done {
  position: absolute;
  left: 40%;
  top: 35%;
  padding: 15px;
  border: 4px solid rgb(17, 228, 52);
  border-radius: 50%;
  & .fa {
    color: rgb(17, 228, 52);
    font-size: 50px;
  }
}

[dir="rtl"].mat-form-field {
  text-align: right;
}

// header {
//   position: sticky;
//   top: 0;
//   padding: 10px;
//   display: flex;

//

//   mat-form-field {
//     width: 50%;
//     font-weight: bold;

//     ::ng-deep {
//       .mat-form-field-wrapper {
//         padding: 0;

//         .mat-form-field-flex {
//           padding-top: 0;
//         }
//       }
//       .mat-form-field-underline {
//         bottom: 0;
//       }
//     }

//     option {
//       padding: 10px;
//       line-height: 2;
//       background: #474747;
//       color: #fff;
//     }
//   }
// }
