@import "~@angular/material/theming";

$custom-typography: mat-typography-config(
  $font-family: '"Nunito", "Segoe UI";',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);

@include mat-core($custom-typography);
@include angular-material-typography($custom-typography);

$custom-primary: mat-palette($mat-blue);
$custom-accent: mat-palette($mat-amber);

$custom-theme: mat-light-theme($custom-primary, $custom-accent);

@include angular-material-theme($custom-theme);
