/// Layout breakpoints ///

$start: 0;
$xs: 375px;
$sm: 576px; // Larger than mobile
$handout: 676px; // handout
$md: 768px; // Larger than tablet
$lg: 992px; // Larger than desktop
$xl: 1200px; //  HD
$xxl: 1440px; // Laptop
$FH: 1900px; //  FHD

/// Main color system ///

$white: #fff;
$gray-100: #f8f9fc;
$gray-200: #eaecf4;
$gray-300: #dddfeb;
$gray-400: #d1d3e2;
$gray-500: #b7b9cc;
$gray-600: #858796;
$gray-700: #6e707e;
$gray-800: #5a5c69;
$gray-900: #3a3b45;
$black: #000;

/// Topography ///

$font-family: "Nunito", "Cairo", sans-serif, -apple-system, BlinkMacSystemFont,
  "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$fond-size: 16px;
$line-height: 1.5;

/// Body - Settings for the `<body>` element. ///

$body-bg: $white !default;
$body-color: #282f3d !default;
