@import "@fortawesome/fontawesome-free/css/all.min.css";

@import "_theme-config";
@import "_var";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: $fond-size;
  line-height: $line-height;
  min-height: 100%;
}

@media (min-width: $sm) {
  html {
    font-size: $fond-size + 3;
  }
}

body {
  color: $body-color;
  background: $body-bg;
  font-family: $font-family;
  line-height: $line-height;
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
  margin: 0;
  padding: 0;
  border: 0;
  min-height: 100%;
}

[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
  outline: none;
}
