<nav>

</nav>
<div class="design">
  <!-- Left -->
  <div class="design-left">
      <div class="profile">
          <img src="../../../../assets/Annotation 2020-03-28 204435.png" alt="">
      </div>
      <div class="content">
          <div class="content-info">
              <div class="title">
                  <p class="name"> محمد أحمد عبدالمنعم</p>
                  <p>مهندس مدنى</p>
              </div>
              <ul>
                  <li>
                      <div class="icon">
                          <i class="fas fa-map-signs"></i>
                      </div>
                      <div class="data">
                          مدينه نصر <br/>مصر
                      </div>
                  </li>
                  <li>
                      <div class="icon">
                          <i class="fas fa-mobile-alt"></i>
                      </div>
                      <div class="data">
                          +325 79809
                      </div>
                  </li>
                  <li>
                      <div class="icon">
                          <i class="fas fa-envelope"></i>
                      </div>
                      <div class="data">
                          mohammed@gmail.com
                      </div>
                  </li>
              </ul>
          </div>
      </div>
  </div>
  <!-- Right -->
  <div class="design-right">
      <div class="content-info-about">
          <div class="title">
              <p>الحاله الصحيه</p>
          </div>
          <ul>
              <li>
                  <div class="data">2016-2017</div>
                  <div class="info">
                      <p class="total">
                          تعرض لكسر فى الساق .
                      </p>
                  </div>
              </li>
          </ul>
          <ul>
              <li>
                  <div class="data">2017-2018</div>
                  <div class="info">
                      <p class="total">
                          تمت اصابته بحمى شديده ادت الى اقامته فى المستشفى لمده اسبوع .
                      </p>
                  </div>
              </li>
          </ul>
          <ul>
              <li>
                  <div class="data">2018-2019</div>
                  <div class="info">
                      <p class="total">
                          تعرض لحادث سياره وأصيب ببعض الكادمات.
                      </p>
                  </div>
              </li>
          </ul>
          <ul>
              <li>
                  <div class="data">2019-2020</div>
                  <div class="info">
                      <p class="total">
                      </p>
                  </div>
              </li>
          </ul>
      </div>
  </div>
</div>
