<div class="wrapper">
  <div class="title">
      استماره تسجيل مريض
  </div>
  <div class="form">
      <div class="input-feild">
          <label >الاسم</label>
          <input type="text" class="input">
      </div>
      <div class="input-feild">
          <label >الرقم القومى</label>
          <input type="text" class="input">
      </div>
      <div class="input-feild">
          <label >الباسورد</label>
          <input type="password" class="input">
      </div>
      <div class="input-feild">
          <label >النوع</label>
          <div class="custom-select">
              <select>
                  <option>اختر</option>
                  <option value="male">ذكر</option>
                  <option value="female">أنثى</option>
              </select>
          </div>
      </div>
      <div class="input-feild">
          <label >السن</label>
          <input type="text" class="input">
      </div>
      <div class="input-feild">
          <label >رقم الهاتف</label>
          <input type="text" class="input">
      </div>
      <div class="input-feild">
          <label >العنوان</label>
          <textarea class="textarea"></textarea>
      </div>
      <div class="input-feild">
          <label >رقم البريد</label>
          <input type="text" class="input">
      </div>
      <div class="input-feild">
          <label >فصيله الدم</label>
          <input type="text" class="input">
      </div>
      <div class="input-feild">
          <label >معدل ضفط الدم</label>
          <input type="text" class="input">
      </div>
      <div class="input-feild">
          <label >نسبه السكر</label>
          <input type="text" class="input">
      </div>
      <div class="input-feild">
          <label >سرعه ضربات القلب</label>
          <input type="text" class="input">
      </div>
      <div class="input-feild">
          <label>صور التحايل او الاشعه </label>
          <input type="file"  name="fileToUpload" id="fileToUpload">
      </div>
      <div class="input-feild">
          <label >الحاله المرضيه</label>
          <textarea class="textarea"></textarea>
      </div>
      <div class="input-feild">
          <input type="submit" class="btn" value="تسجيل">
      </div>
  </div>
</div>
