@import "~src/styles/var";

.mat-card-header {
  text-align: center;
  margin: 0 100px;

  @media screen and (max-width: $sm) {
    margin: 0 0px !important;
  }
}

.row {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

mat-form-field {
  display: block;
  width: 100%;
  direction: rtl;
  text-align: right;
}

.btn-div {
  text-align: left;
}
